<div class="distributor">
  <div class="distributor-header">
    <div class="left">
      <h1 class="distributor-title">distributors</h1>
      <h2 class="distributor-subtitle">NARBUTAS</h2>
    </div>
    <div class="right">
      <div class="distributor-switch">SWITCH MAP VIEW</div>
    </div>
  </div><!-- /.distributor-header -->

  <ul class="distributor-list">
    <li class="distributor-list-item">
      <span class="scale">800</span>
      <span class="list-title-box">
        <span class="list-title">Lorem ipsum dolor</span>
        <span class="list-subtitle">Product name 520m² stock</span>
      </span>
      <span class="list-buttons">
        <a href="" class="list-btn"><span class="icon message"></span></a>
        <a href="" class="list-btn"><span class="icon phone"></span></a>
      </span>
    </li>
  </ul>
</div>